.backgroundBox {
    background-image: url(https://res.cloudinary.com/dwuej2jjm/image/upload/v1688466517/cityHomeHub1-min_bbtbxq.jpg);
}

.popUpAddHouse {
    background-color: #f7f7f7;
    box-shadow: 2px 8px 8px -4px rgb(202, 213, 216);
}

.imgHouseForm {
    background-color: #f7f7f7;
    color: #28E5FF;
}