.banner360 {
    width: 100vw;
}

:hover.benefitCard {
    background-color: #99ffd16e;
}

.syncPopUp {
    z-index: 2;
}

.roomsList {
    z-index: 1;
}

.cityAnimated {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}