/* .addRoomWall {
    background-color: rgba(101, 101, 101, 0.5);
} */

.popUpAddRoom {
    background-color: #fdfdfd;
    box-shadow: 2px 8px 8px -4px rgb(202, 213, 216);
}

.imgRoomForm {
    background-color: #f7f7f7;
    color: #28E5FF;
}